PORT=3000
JWT_SECRET=change-this-long-random-secret-before-production
DB_PATH=./data/pykur.sqlite
CLIENT_ORIGIN=http://127.0.0.1:8765
APP_PUBLIC_URL=http://185.248.33.97
APP_PUBLIC_URL=http://185.248.33.97
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=adc455001@smtp-brevo.com
SMTP_PASS=NOUVELLE_xsmtpsib-841b40db2716836beebaeaf4292fe1078535ccb0f06985502cdf2cd2a8604d8b-XI513p2xVULSJan7
SMTP_FROM="Pykur Tracker <pykurtracker@gmail.com>"
